<h1>DEPOIMENTOS</h1>
<hr>

<section id="testimonies">
  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>

  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>

  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>
</section>

<hr>

<section id="id">
  <h3>Envie seu depoimento</h3>

  <form action="" method="post">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" name="name" required>
    </div>

    <div class="form-group">
      <label for="message">Mensagem</label>
      <textarea class="form-control" rows="5" name="message" required></textarea>
    </div>

    <div class="form-group mt-3">
      <button type="submit" class="btn btn-success">Enviar</button>
    </div>
  </form>

</section>