<h1>DEPOIMENTOS</h1>
<hr>

<section id="testimonies">
  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>

  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>

  <div class="card text-dark mb-3">
    <h5 class="card-header">Marlon Paulo <small>29/09/2022</small> </h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vel architecto nobis quibusdam maxime ipsam magni aspernatur dolor hic ipsum. Quod, veritatis assumenda. Laborum fugiat itaque sapiente debitis! Reiciendis, ea?
    </div>
  </div>
</section>